<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

 <servlet>
  <servlet-name>LogIn</servlet-name>
  <servlet-class>connections.loginLogic</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>LogIn</servlet-name>
  <url-pattern>/login</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>newTrip</servlet-name>
  <servlet-class>connections.newTrip</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>newTrip</servlet-name>
  <url-pattern>/newTrip</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>back</servlet-name>
  <servlet-class>connections.back</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>back</servlet-name>
  <url-pattern>/back</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>insertTrip</servlet-name>
  <servlet-class>connections.insertTrip</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>insertTrip</servlet-name>
  <url-pattern>/insertTrip</url-pattern>
 </servlet-mapping>
 
  <servlet>
  <servlet-name>viewTrip</servlet-name>
  <servlet-class>connections.viewTrip</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>viewTrip</servlet-name>
  <url-pattern>/viewTrip</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>deleteTrip</servlet-name>
  <servlet-class>connections.deleteTrip</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>deleteTrip</servlet-name>
  <url-pattern>/deleteTrip</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>editTrip</servlet-name>
  <servlet-class>connections.editTrip</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>editTrip</servlet-name>
  <url-pattern>/editTrip</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>updateTrip</servlet-name>
  <servlet-class>connections.updateTrip</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>updateTrip</servlet-name>
  <url-pattern>/updateTrip</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>addExpense</servlet-name>
  <servlet-class>connections.addExpense</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>addExpense</servlet-name>
  <url-pattern>/addExpense</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>createExpense</servlet-name>
  <servlet-class>connections.createExpense</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>createExpense</servlet-name>
  <url-pattern>/createExpense</url-pattern>
 </servlet-mapping>
 
</web-app>
